/* Unified style for buttons and pagination */
.unified-button,
.pagination a,
.pagination span {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 3px 10px; // базовый padding
	border-radius: 6px;
	font-size: 1em;
	font-weight: 500;
	text-decoration: none;
	color: #4f4f4f;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
	cursor: pointer;
	transition: all 0.25s ease;

	&:hover {
		background: #7b82e2;
		color: #fff;
		transform: translateY(-1px) scale(1); // немного меньше подъём
		padding: 3px 10px; // уменьшаем padding
		text-decoration: none;
	}
}

.pagination .current {
	background-color: #d0d4f7;
	color: #333;
	font-weight: 600;
	padding: 3px 10px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
}

.centered-controls {
	display: flex;
	flex-direction: column; /* кнопка сверху, пагинация снизу */
	align-items: center; /* горизонтальный центр */
	gap: 15px; /* расстояние между кнопкой и пагинацией */
	margin-top: 20px;
	margin-bottom: 30px;
}
