@use '../dimensions' as *;
@use '../colors' as colors;

div#wrapper {
	div#container {
		div#login-form {
			width: 480px;
			margin: $wide * 2 auto;
			padding: $wide * 2;
			border-radius: $wide;
			border: solid 4px colors.$dark_yellow;
			background-color: colors.$very_light_gray;

			form {
				div {
					padding: $wide;
					label {
						display: block;
						padding: $moderate 0;
					}
					label.required:after {
						content: '*';
						padding-left: $narrow;
						color: colors.$red;
					}
					span.instruction {
						font-size: $small;
						color: colors.$dark_gray;
					}
				}
				div.notes {
					text-align: right;
					font-size: $small;
					span.mark {
						color: colors.$red;
					}
				}
				div.check-boxes,
				div.radio-buttons {
					label {
						display: inline-block;
					}
				}
				input[type='checkbox'] + label {
					display: inline-block;
				}
				div.buttons {
					text-align: center;
					input[type='submit'] {
						padding: $wide $wide * 2;
					}
				}
				div.field_with_errors {
					display: inline;
					padding: 0;
					label: {
						color: colors.$red;
					}
					input,
					textarea {
						background-color: $pink;
					}
				}
				div.with-errors {
					label: {
						color: $red;
					}
					input: {
						background-color: $pink;
					}
				}

				div.error-message {
					color: colors.$red;
					font-size: $small;
					padding: 0 $very_wide;
				}
			}
		}
	}
}
