<%= markup do |m| 
  p = StaffMemberFormPresenter.new(f, self)
  m << p.notes
  p.with_options(required: true) do |q|
    m << q.text_field_block(:email, size: 32)
    m << q.password_field_block(:password) # label подтянется автоматически
    m << q.full_name_block(:family_name, :given_name)
    m << q.full_name_kana_block(:family_name_kana, :given_name_kana) 
    m << q.date_field_block(:start_date)
    m << q.date_field_block(:end_date, required: false)
  end
  m << p.suspended_check_box
end %>

<div class="buttons">
  <%= f.submit(@staff_member.new_record? ? "登録" : "更新") %>
  <%= link_to "キャンセル", admin_staff_members_path, class: "cancel-button" %>
</div>