<% @title ="職員(しょくいん)アカウントの編集(へんしゅう)"%>
<h1><%= @title %></h1>

<div id="login-form">
	<%= form_with model: @staff_member, url: [ :admin, @staff_member ] do |f| %>

	<%= render "form", f: f %>

	<% end %>
</div>