<div id='error'>
	<h1>403 Forbidden</h1>
	<p>
		<%=
			case @exception
			when ApplicationController::IpAddressRejected
			"IP Address(#{request.ip}) not supported"
			else 
			"You are not able see this page."
			end
		%>
	</p>
</div>