@import 'dimensions';
@import '../colors';

div#wrapper {
	div#container {
		h1 {
			margin: 0;
			padding: $moderate * 1.5 $moderate;
			font-size: $large;
			font-weight: normal;
			background-color: $dark_cyan;
			color: $light-gray;
		}
	}
}
