@use '../dimensions' as *;
@use '../colors' as *;

div.description,
div.body {
	margin: $wide;
	padding: $wide;
	background-color: aliceblue;
	width: inherit;
	margin: 6px auto 0;
}

div.tags {
	margin: $wide 0;
	padding: $wide;
	background-color: $very_light_gray;

	span.current_tag {
		font-weight: bold;
	}
}
