$dark_gray: #666666;
// $dark_gray: #c4a69d;

// $gray: #cccccc;
$gray: #faf9f9;
// $light_gray: #eeeeee;
$light_gray: #ffd6ba;

$very_light_gray: #f8f9fa;

$dark_cyan: #0088aa;
// $dark_cyan: #555b6e;

// $very_dark_cyan: #006666;
$very_dark_cyan: #89b0ae;
// $dark_magenta: #8b008b;
$dark_magenta: #735290;

// $very_dark_magenta: #4f014f;
$very_dark_magenta: #6d6875;

$dark_yellow: #fa7921;
$very_dark_yellow: #e55934;

// $red: #cc0000;
$red: #f21b3f;
// $green: #00cc00;
$green: #08bdbd;
// $pink: #ffcccc;
$pink: #f8edeb;
