@use 'colors' as *;
@use 'dimensions' as *;

div.table-wrapper {
	width: 90%;
	margin: 0 auto;
	padding-left: $huge;
	padding-right: $huge;
}

div.links {
	text-align: right;
	padding: $moderate;
}

table {
	margin: $moderate auto 0;
	border: solid $moderate $very_dark_magenta;

	tr {
		th {
			background-color: $dark_gray;
			color: $very_light_gray;
		}
		th,
		td {
			padding: $narrow;
		}
		td.email,
		td.date,
		td.ip {
			font-family: monospace;
		}
		td.boolean {
			text-align: center;
		}
		td.numeric {
			text-align: right;
		}
		td.actions {
			text-align: center;
			color: $dark_gray;
		}
	}
}

table.listing {
	width: 100%;
	border-radius: $wide;

	tr:nth-child(even) {
		background-color: $very_light_gray;
	}
	tr:nth-child(odd) {
		background-color: $light_gray;
	}
}

/* IP address input fields */
.ip-input {
	width: 50px !important; // make them small, fixed width
	font-size: small;
	text-align: center; // center the numbers
	border: 1px solid $very_dark_magenta; // match table border color
	border-radius: 4px; // slight rounding
	padding: 2px 4px;
	font-family: monospace; // consistent with td.ip
	margin-right: $narrow; // space between octets
	font-size: 12px;

	&:focus {
		outline: 2px solid $very_dark_magenta; // опционально: подсветка активного поля
	}
}

.allowed-ip-fields {
	display: flex; // arrange 4 inputs in a row
	align-items: center;
}
